.main-block {
    display: flex;
    justify-content: space-evenly;
}
.block {
    border: 1px solid black;
    width: 33.33333%;
    height: 110px;
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;

}

.first-disk {
    border: 1px solid black;
    border-radius: 8px;
    background-color: red;
    width: 25%;
    height:20px ;
}
.second-disk  {
    border: 1px solid black;
    border-radius: 8px;
    background-color: yellow;
    width: 40%;
    height:20px ;
}
.third-disk  {
    border: 1px solid black;
    border-radius: 8px;
    background-color: blue;
    width: 65%;
    height:20px ;
}
.fourth-disk  {
    border: 1px solid black;
    border-radius: 8px;
    background-color: goldenrod;
    width: 80%;
    height:20px ;
}
.fifth-disk  {
    border: 1px solid black;
    border-radius: 8px;
    background-color: purple;
    width: 95%;
    height:20px ;
}

.selected {
    border: 3px solid green;
}
.names {
    display: flex;
    justify-content: space-around;
}
h1 {
    text-align: center;
    font-size: 25px;
}
p {
    font-weight: bold;
}
button {
    padding: 3px;
    color: white;
    background-color: rgb(49, 49, 49);
    border-radius: 5px;
}
#victory {
    color: green;
}
@media (min-width:768px) {
    .block {
        height: 150px;
    }
}
@media (min-width:1024px){
    .block {
        height: 200px;
    }
    .first-disk {
        height: 30px;
    }
    .second-disk {
        height: 30px;
    }
    .third-disk {
        height: 30px;
    }
    .fourth-disk {
        height: 30px;
    }
    .fifth-disk {
        height: 30px;
    }
    p {
        font-size: 20px;
    }
    button {
        padding: 5px;
        color: white;
        background-color: black;
    }
}